
<div class="row accueil">
	<div class="col-lg-12">
		<img src="http://img15.hostingpics.net/pics/636907parasol256.png"/>

		<div class="selection-plage">
			<h4>Sélectionner une plage</h4>
			<select name="plage" id="plage" class="form-control" ng-model="data.plage">
				<option value="" disabled>selectionnez votre plage</option>
				<option value="Berck">Berck - Berck sur mer plage</option>
				<option value="Saint-Malo">Saint-Malo - Grande plage</option>
				<option value="Royan">Royan - Grande Conche</option>
				<option value="Hendaye">Hendaye - Plage des 2 jumeaux</option>
				<option value="Porquerolles">Ile de Porquerolles - Plage d'argent</option>
				<option value="Ajaccio">Ajaccio - Plage Saint François</option>
				<option value="LaLoupe">La Loupe - WCS Plage...</option>
			</select>
			<div class="btn-accueil">
				<a class="btn btn-info" href="#/info/{{data.plage}}">Vamos a La Playa !</a>
				<!-- Before: ng-click="app()" : Définir fonction Search -->
			</div>
			<tt>vous avez choisi = {{data.plage}}</tt>
		</div>
	</div>
</div>