<div class="photo_info_plage" style="background-image: url('{{image}}');">
    
    <h1>{{ title }}</h1>
    
    
    
</div>
<div class="row">
    <div class="col-md-3">    
        <h2>Météo</h2>
        <img src="http://openweathermap.org/img/w/{{icon}}.png" width="100px">
        <p>{{ meteo }}</p>
        <p>température: {{ temp }}°C</p>
    </div>
    <div class="col-md-3">    
        <h2>Marée</h2>
        <p>coéficient de la marée {{ coef }}</p>
    </div>
    <div class="col-md-3">    
        <h2>Sunrise</h2>
        <p><mydate>{{ leve * 1000 | date:' HH:mm '}}</mydate></p>
        <h2>Sunset</h2>
        <p><mydate>{{ couche * 1000 | date:' HH:mm '}}</mydate></p>
    </div>
    <div class="col-md-3">    
        <h2>Vent</h2>
        <p>vitesse: {{ wind }}km/h </p>
        <p>{{ winddirection }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12"> 
                <h2>Google maps</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <h2>Twitter</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Instagram</h2>
    </div>
</div>

<div class="btn-accueil">
    <a href="#/"><button type="submit" class="btn btn-default">Retour</button></a> 
</div>