/*-------------------SOMMAIRE-------------*/
/*----------------------------------------*/
/*GENERAL---------------------------------*/
/*----------------------------------------*/
/*ACCUEIL---------------------------------*/
/*INFORMATION-----------------------------*/
/*----------------------------------------*/


/*------------ $ GENERAL---------------------*/
.container{
	width: 60%;
	margin: auto;
}

/*------------ $ ACCUEIL---------------------------------*/


.accueil{
	text-align: center;
}
.accueil p,.btn-accueil, .selection-plage{
	margin: 30px;
}




/*------------ $ INFORMATION-----------------------------*/
.photo_info_plage{
	/*height: 150px;*/
	/*min-height: 300px;
	width: auto;*/
	background-repeat: no-repeat;
	/*background-position: absolute;*/
	background-attachment: cover;
	background-size: 100%;
	height: 350px;
}
