/*-------------------SOMMAIRE-------------*/
/*----------------------------------------*/
/*GENERAL---------------------------------*/
/*----------------------------------------*/
/*ACCUEIL---------------------------------*/
/*INFORMATION-----------------------------*/
/*----------------------------------------*/


/*------------ $ GENERAL---------------------*/
body{
    padding-top: 70px;
}

.navbar-border{
	border-bottom: 3px solid #F0DB4F;
}

.navbar-header img{
	transition: 0.4s;
}

.navbar-header img:hover{
	transform: rotate(360deg);
}  

.container{
	width: 60%;
	margin: auto;
}

/*------------ $ ACCUEIL---------------------------------*/


.accueil{
	text-align: center;
}
.accueil p,.btn-accueil, .selection-plage{
	margin: 30px;
}




/*------------ $ INFORMATION-----------------------------*/